
<div class="col-md-12">
	<div class="text-center">
    <h3>ЮНИМЕДИА СОЛЮШНС</h3>
	</div>
    <p>Манай компани нь мэдээллийн технологийн салбарын онцлог болсон хурд, шинэ санаа, өндөр бүтээмж, үр ашигтай үйл ажиллагааг эрхэмлэн ажиллаж байна. Бидний эрхэм зорилго бол чанартай, өндөр үр ашигтай бүтээгдэхүүн, үйлчилгээг хэрэглэгчдэд хүргэхэд оршино. Бид Япон улсад хэрэгжиж буй “Crowdsourcing” төслийн цахим хуудас бэлтгэх, зар сурталчилгаа, ухаалаг утасны хөгжүүлэлтийг гардан хийдэг. Нийгмийн хариуцлагын хүрээнд Монгол залуусын мэдлэг чадварыг дээшлүүлж, хийсэн бүтээлүүдийг дэлхийн зах зээлд гаргахад туслах зорилгоор “Unimedia App Contest”-ийг зохиож ирсэн билээ. Ажилчид нь сэтгэл хангалуун, ажилдаа урам зоригтой нийгмийн хариуцлагыг өндөрт тавьдаг манай компанид орохыг хүссэн мэдлэг чадвартай боловсон хүчин, хамтран шинэ бизнес эхлүүлэх компани, хувь хүнд манай үүд хаалга үргэлж нээлттэй байх болно.</p>
    <p>
    </p>
    <p>Одоогоор бүртгэлтэй хэрэглэгчийн тоо:<b> <%= User.count %></b></p>
</div>